nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20;
     
     
}
.nav-title{
    color: black;
  font-family: serif;
    font-size: 25px;
    padding: 5px; ; 
}
 nav >ul{
    display: flex;
    align-items: center;
 }
 nav li{
    list-style: none;
    margin-right: 50px;
    
 }
 nav a{
    text-decoration: none;
    color:#000000 ;    
}
.btn-primary{
    border-radius: 5px;
    background-color:#ff053b ;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px;

}
.text-primary{
    color:#ff053b;
}
.header{
    background-color:#ffdec7 ;
    margin-top: 10px; 
    
    }

.banner{
    padding: 30px 30px 0px 150px;
    justify-content: space-around;
   align-items: center;
   display: flex;
 
     
       
}  
 .banner .profile-pic{
    width: 500px;
   
 }
 .banner-title{
    font-size: 50px;
 }
.about{
    padding-top: 130px;
    text-align: center;
}  
   main{
    mex: width 1140px;
   }
 .section-title{
    color: black;
    font-family: serif;
      font-size: 25px;
      padding: 5px; ; 
 }  
 .pic{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin: 20;
}
div >ol{
    display: flex;
    align-items: center;
    justify-content: space-between;

 }

div li{
    list-style: none;
    margin-right: 50px;
   }
div a{  
    text-decoration: underline;
    color:#000000 ;}      
 
.kothin{
    background-color: rgb(206, 229, 230);
padding: 10px 10px 60px 10px ;
border-color: white;

}
 .bg{
    margin-right: 50px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    display: flex; 
justify-content: space-between;
align-items: center;
margin: 0px;
 }
.line{
    background-color: rgb(210, 207, 207)
    list-style: none;
   list-style: none;
    display: flex;
    justify-content: space-between;
align-items: center;
text-decoration: none;
margin: 0px;
}

.head{
    background-color:#ffa486 ;
margin-top: 10px; 
}

.banner .profile-pic1{
    width: 500px;
   
 }

 .banner1{
    padding: 30px 30px 0px 150px;
    justify-content: space-around;
   align-items: center;
   display: flex;}

.banner-title2{
    font-size: 50px;}

 .head1{
        padding-top: 130px;
        text-align: center;}
        mex: width 1140px;
       
            mex: width 1140px;
 section-title1{
            color: black;
            font-family: serif;
              font-size: 25px;
            
              padding: 10px 20px 50px 20px;
          }
          .bg1{
            margin-right: 50px;
            text-align: center;
            justify-content: space-between;
            align-items: center;
            display: flex; 
        justify-content: space-between;
        align-items: center;
        margin: 0px;
         }

         .header1{
          background-position: 600px;
          display: flex; 
justify-content: space-between;
align-items: center;
margin: 20;
justify-content: space-around;
          padding-bottom: 50;
        
            border: white 30px;
            margin: 10px; }
            
 footer{
    background-color: #04ffd5; 
   align-items: center;      
   padding: 30px 30px 0px 150px;
   justify-content: space-around
  align-items: center;
  display: flex;}
        align-items: center;
        align-items: center;
